extends layout.raw

block content
    section.content
        h1 Welcome to express-spa
        p express-spa is a simple solution for Single Page Application(SPA) based on expressjs.
        p You may click on links in left menu to switch between different pages without page refreshing.